<div class="container">
  <div class="page-header">
    <h1>Stats API Temporarily Down</h1>
    <p>Usually it's just a temporal issue and mining is not affected. But if it's not make sure to let the ether1.cloud team know.</p>
  </div>
</div>
